#status {
  position: fixed;
      right: 0;
      top: 0;
      width: 5em;
      height: 5em;
}
.loader {
  border: 16px solid lightgray;
  border-top: 16px solid red;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
.checked {
  border-radius: 5em;
  background-image: url(giphy.gif);
  background-size: 7em;
  background-position: -1em;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-50deg);}
  100% { transform: rotate(360deg); }
}

#inputForm {
  background-color: lightgrey;
      opacity: 0;
      transition: 1s;
      top: -800%;
      position: absolute;
      /*top: 3em;*/
      padding: 1em;
}
